<!-- 
###########################################################################
# Privacies Code
This file gets loaded in the aspect after user clicks LFN button
It basically loads XAP file with the arguments passed to this aspect
###########################################################################  
-->

<% content_for :head do %>
<%= javascript_include_tag 'third_party_services/lfn', 'Silverlight'  %>
<script type="text/javascript">
  var aspect_ids         = <%= raw @aspect_ids.to_json %>;
  var aspect_contacts    = <%= raw json_aspect_contacts(@aspect_ids, false) %>;
  var user_id            = "<%= current_user.diaspora_handle %>";
  var authenticity_token = <%= raw form_authenticity_token.to_json %>;
  
  function onSilverlightError(sender, args) {
      var appSource = "";
      if (sender != null && sender != 0) {
          appSource = sender.getHost().Source;
      }

      var errorType = args.ErrorType;
      var iErrorCode = args.ErrorCode;

      if (errorType == "ImageError" || errorType == "MediaError") {
          return;
      }

      var errMsg = "Unhandled Error in Silverlight Application " + appSource + "\n";

      errMsg += "Code: " + iErrorCode + "    \n";
      errMsg += "Category: " + errorType + "       \n";
      errMsg += "Message: " + args.ErrorMessage + "     \n";

      if (errorType == "ParserError") {
          errMsg += "File: " + args.xamlFile + "     \n";
          errMsg += "Line: " + args.lineNumber + "     \n";
          errMsg += "Position: " + args.charPosition + "     \n";
      }
      else if (errorType == "RuntimeError") {
          if (args.lineNumber != 0) {
              errMsg += "Line: " + args.lineNumber + "     \n";
              errMsg += "Position: " + args.charPosition + "     \n";
          }
          errMsg += "MethodName: " + args.methodName + "     \n";
      }
      throw new Error(errMsg);
  }

  function onSilverlightLoad() {
    var control             = document.getElementById("SLObj");
    if (control != null) {
      control.Content.Page.Initialize(user_id, aspect_ids.join(","), aspect_contacts.join(","), authenticity_token);
    }
  }
  
</script>
<% end %>

<div id="silverlightControlHost" style="z-index:-10">
  <object id="SLObj" data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="100%" height="768px" style="z-index:-10">
    <param name="source" value="/data/LSC.xap" />
    <param name="onError" value="onSilverlightError" />
    <param name="background" value="white" />
    <param name="minRuntimeVersion" value="4.0.50826.0" />
    <param name="autoUpgrade" value="true" />
    <param name="windowless" value="true" />
    <param name="scalemode" value="Stretch" />
    <param name="onload" value="onSilverlightLoad" />
    <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50826.0" style="text-decoration: none">
        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style: none" />
    </a>
  </object>
  <iframe id="_sl_historyFrame" style="visibility: hidden; z-index:-10; height: 0px; width: 0px;
      border: 0px"></iframe>
</div>

<script type="text/javascript">
  function stretch()
  {
    var obj=document.getElementById("silverlightControlHost");
    var parent=obj.parentNode.parentNode;
    parent.style.width="100%";
    obj.parentNode.style.width="100%";
    document.body.style.padding="0";
    document.getElementById("header_body").style.margin="0";
  }
  window.onload = stretch;
</script>
